@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  src: url("../public/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-mountains {
  background-image: url('/images/mountains.jpg');
}

.bg-ocean {
  background-image: url('/images/ocean.jpg');
}

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}